<section class="collection">
  <div class="container">
    <h2 class="collection_title">Our collection</h2>
    <ul class="collection_menu list">
      <li class="collection_item">
        <picture>
          <source srcset="./img/collection/collection-mob-1-1x.jpg 1x, ./img/collection/collection-mob-1-1x.jpg 2x" media="(min-width: 320px)">
          <source srcset="./img/collection/collection-tablet-1-1x.jpg 1x, ./img/collection/collection-tablet-1-1x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./img/collection/collection-desktop-1-1x.jpg 1x, ./img/collection/collection-desktop-1-1x.jpg 2x" media="(min-width: 1280px)">
          <img class="collection_img" src="./img/collection/collection-desktop-1.jpg" alt="Poltava women's" width="335" height="400">
      </picture>
        <h3 class="collection_subtitle">august poltava women's blousering</h3>
        <p class="collection_text">3300 UAH</p>
      </li>
      <li class="collection_item">
        <picture>
          <source srcset="./img/collection/collection-mob-2-1x.jpg 1x, ./img/collection/collection-mob-2-2x.jpg 2x" media="(min-width: 320px)">
          <source srcset="./img/collection/collection-tablet-2-1x.jpg 1x, ./img/collection/collection-tablet-2-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./img/collection/collection-desktop-2-1x.jpg 1x, ./img/collection/collection-desktop-2-2x.jpg 2x" media="(min-width: 1280px)">
          <img class="collection_img" src="./img/collection/collection-desktop-2.jpg" alt="Poltava women's" width="335" height="400">
      </picture>
        <h3 class="collection_subtitle">Women's blouse Gorgany</h3>
        <p class="collection_text">3350 UAH</p>
      </li>
      <li class="collection_item">
        <picture>
          <source srcset="./img/collection/collection-mob-3-1x.jpg 1x, ./img/collection/collection-mob-3-2x.jpg 2x" media="(min-width: 320px)">
          <source srcset="./img/collection/collection-tablet-3-1x.jpg 1x, ./img/collection/collection-tablet-3-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./img/collection/collection-desktop-3-1x.jpg 1x, ./img/collection/collection-desktop-3-1x.jpg 2x" media="(min-width: 1280px)">
          <img class="collection_img" src="./img/collection/collection-desktop-3.jpg" alt="Poltava women's" width="335" height="400">
      </picture>
        <h3 class="collection_subtitle">Women's blouse Crimea</h3>
        <p class="collection_text">4000 UAH</p>
      </li>
      <li class="collection_item">
        <picture>
          <source srcset="./img/collection/collection-mob-4-1x.jpg 1x, ./img/collection/collection-mob-4-2x.jpg 2x" media="(min-width: 320px)">
          <source srcset="./img/collection/collection-tablet-4-1x.jpg 1x, ./img/collection/collection-tablet-4-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./img/collection/collection-desktop-4-1x.jpg 1x, ./img/collection/collection-desktop-4-2x.jpg 2x" media="(min-width: 1280px)">
          <img class="collection_img" src="./img/collection/collection-desktop-4.jpg" alt="Poltava women's" width="335" height="400">
      </picture>
        <h3 class="collection_subtitle">Men's shirt Verkhovina</h3>
        <p class="collection_text">3100 UAH</p>
      </li>
      <li class="collection_item">
        <picture>
          <source srcset="./img/collection/collection-mob-5-1x.jpg 1x, ./img/collection/collection-mob-5-2x.jpg 2x" media="(min-width: 320px)">
          <source srcset="./img/collection/collection-tablet-5-1x.jpg 1x, ./img/collection/collection-tablet-5-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./img/collection/collection-desktop-5-1x.jpg 1x, ./img/collection/collection-desktop-5-2x.jpg 2x" media="(min-width: 1280px)">
          <img class="collection_img" src="./img/collection/collection-desktop-5.jpg" alt="Poltava women's" width="335" height="400">
      </picture>
        <h3 class="collection_subtitle">Mountain men's shirt</h3>
        <p class="collection_text">3300 UAH</p>
      </li>
      <li class="collection_item">
        <picture>
          <source srcset="./img/collection/collection-mob-6-1x.jpg 1x, ./img/collection/collection-mob-6-2x.jpg 2x" media="(min-width: 320px)">
          <source srcset="./img/collection/collection-tablet-6-1x.jpg 1x, ./img/collection/collection-tablet-6-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./img/collection/collection-desktop-6-1x.jpg 1x, ./img/collection/collection-desktop-6-2x.jpg 2x" media="(min-width: 1280px)">
          <img class="collection_img" src="./img/collection/collection-desktop-6.jpg" alt="Poltava women's" width="335" height="400">
      </picture>
        <h3 class="collection_subtitle">Men's shirt Yasen</h3>
        <p class="collection_text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>