<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="logo-link link" href="./index.html">
        <img class="logo-icon" src="./img/logo.svg" height="44" width="39" />
      </a>
      <ul class="menu-list list">
        <li class="menu-item">
          <a class="menu-link link" href="#about">About us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link link" href="#collection">Our collection</a>
        </li>
        <li class="menu-item">
          <a class="menu-link link" href="#order">Customer order</a>
        </li>
        <li class="menu-item">
          <a class="menu-link link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>

    <div class="contacts">
      <address class="address">
        <a class="tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>

      <ul class="social-links-list list">
        <li class="social-links-item">
          <a class="social-links-link" href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="social-list-icon" height="28" width="28">
              <use href="../img/symbol-defs.svg#icon-fb-logo"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a class="social-links-link" href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="social-list-icon" height="28" width="28">
              <use href="../img/symbol-defs.svg#icon-inst-logo"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a class="social-links-link" href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="social-list-icon" height="28" width="28">
              <use href="../img/symbol-defs.svg#icon-youtube-logo"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mob-menu-btn">
        <svg class="nav-menu-open" height="44" width="30">
          <use href="../img/symbol-defs.svg#icon-nav-menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>