<section class="hero">
    <div class="container">
        <h1 class="hero-headline">Reviving the traditional <span>Ukrainian</span> artistry in every stitch.</h1>
        <a href="" class="hero-btn">Order
            <use href="./img/symbol-defs.svg#src/img/symbol-defs.svg"></use>
            </svg>
        </a>
        <picture>
            <source srcset="../img/hero/ , ./images/bankingapp-2x.jpg 2x" media="(min-width: 1158px)">
            <source srcset="./images/bankingapp-tablet.jpg 1x, ./images/bankingapp-tablet-2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/bankingapp-mobi.jpg 1x, ./images/bankingapp-mobi-2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/bankingapp.jpg" alt="Banking App" width="360" height="300" class="portfolio-img">
        </picture>
    </div>
</section>