<section class="hero">
    <div class="container hero-container">
        <div class="hero-header">
            <h1 class="hero-title">Reviving the traditional <span class="hero-span-ukrainian">Ukrainian</span> artistry
                in
                every
                stitch.</h1>
            <a href="./order.html" class="hero-btn">Order
                <svg class="hero-icon-btn" width="26" height="10">
                    <use href="./img/symbol-defs.svg#icon-arrow-button"></use>
                </svg>
            </a>
        </div>
        <div class="hero-handmade">
            <svg class="hero-handmade-svg" width="52" height="51">
                <use href="./img/symbol-defs.svg#icon-hero-star"></use>
            </svg>
            <p class="hero-handmade-text">all embroidery is made by hand</p>
        </div>
        <div class="hero-picture">
            <picture>
                <source srcset="./img/hero/hero-girl-desk-1x.jpg 1x, ./img/hero/hero-girl-desk-2x.jpg 2x"
                    media="(min-width: 1110px)">
                <source srcset="./img/hero/hero-girl-tablet-1x.jpg 1x, ./img/hero/hero-girl-tablet-2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./img/hero/hero-girl-mobi-1x.jpg 1x, ./img/hero/hero-girl-mobi-2x.jpg 2x"
                    media="(max-width: 375px)">
                <img src="./img/hero/hero-girl-desk.jpg" alt="girl" width="392" height="545" class="hero-img">
            </picture>
            <picture>
                <source srcset="./img/hero/hero-ukraine-desktop-1x.jpg 1x, ./img/hero/hero-ukraine-desktop-2x.jpg 2x"
                    media="(min-width: 1110px)">
                <source srcset="./img/hero/hero-ukraine-tablet-1x.jpg 1x, ./img/hero/hero-ukraine-tablet-2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./img/hero/hero-ukraine-tablet-1x.jpg 1x, ./img/hero/hero-ukraine-tablet-2x.jpg 2x"
                    media="(max-width: 375px)">
                <img src="./img/hero/hero-ukraine-desktop.jpg" alt="ukraine" width="157" height="191"
                    class="hero-img-ukraine">
            </picture>

        </div>
</section>