<section class="hero">
    <div class="container">
        <h1 class="hero-header">Reviving the traditional <span>Ukrainian</span> artistry in every stitch.</h1>
        <a href="" class="hero-btn">Order
            <use href="./img/symbol-defs.svg#src/img/symbol-defs.svg"></use>
            </svg>
        </a>
        <picture>
            <source srcset="./img/hero/hero-girl-desk-1x.jpg 1x, ./img/hero/hero-girl-desk-2x.jpg 2x"
                media="(min-width: 1158px)">
            <source srcset="./img/hero/hero-girl-tablet-1x.jpg 1x, ./img/hero/hero-girl-tablet-2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./img/hero/hero-girl-mobi-1x.jpg 1x, ./img/hero/hero-girl-mobi-2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./img/hero/hero-girl-desk.jpg" alt="girl" width="392" height="545" class="hero-img">
        </picture>
</section>