<section class="pre-order container">
    <div class="pre-order-img">
    </div>
</section>

<section class="order-mod" id="order">
    <div class="order container">
        <div class="modal-order container">
            <p class="modal-title">Your order<span> is our priority: Personalized approach and quality of service</span>
            </p>
            <form class="modal-form">
                <div class="modal-field">
                    <label for="order-name" class="order-label">
                        <input type="text" name="order-name" placeholder="Enter your full name" class="order-input"
                            id="order-name">
                    </label>
                </div>
                <div class="modal-field">
                    <label for="order-email" class="order-label">
                        <input type="email" name="order-email" placeholder="Enter your email" class="order-input"
                            id="order-email">
                    </label>
                </div>
                <div class="modal-comment">
                    <textarea name="user-comment" id="user-comment" class="modal-textarea"
                        placeholder="Comments"></textarea>
                </div>
            </form>
            <div class="order-btn">
                <button class="order-form-btn" type="submit">SEND <svg class="order-btn-icon" width="26" height="10">
                        <use href="../img/symbol-defs.svg#icon-arrow-button"></use>
                    </svg></button>
            </div>
        </div>

        <div class="order-girl-white container">
            <picture class="order-img">
                <source srcset="./img/order/order-desktop-1x.jpg 1x, ./img/order/order-desktop-2x.jpg 2x"
                    media="(min-width: 1110px)">
                <source srcset="./img/order/order-tablet-1x.jpg 1x, ./img/order/order-tablet-2x.jpg 2x"
                    media="(min-width: 768px)">
                <img class="order-img" src="./img//order/order-desktop.jpg" alt="girl-white" width="524" height="521">
            </picture>
        </div>
    </div>
</section>