<section class="pre-order-img">
    <div class="container">

    </div>

</section>

<section class="order">
    <div class="modal-order">
        <p class="modal-title"><span>Your order</span> is our priority: Personalized approach and quality of service</p>
        <form class="modal-form">
            <div class="modal-field">
                <label for="order-name" class="order-label">
                    <input type="name" name="order-name" placeholder="Enter your full name" class="order-name-input"
                        id="order-name">
                </label>
            </div>
            <form class="modal-form">
                <div class="modal-field">
                    <label for="order-email" class="order-label">
                        <input type="email" name="order-email" placeholder="Enter your email" class="order-email-input"
                            id="order-email">
                    </label>
                </div>

                <div class="modal-comment">
                    <textarea name="user-comment" id="user-comment" class="modal-textarea"
                        placeholder="Comments"></textarea>
                </div>
                <button class="order-form-btn" type="submit">Send <svg class="order-btn-icon" width="26" height="10">
                        <use href="../img/symbol-defs.svg#icon-arrow-button"></use>
                    </svg></button>
            </form>
    </div>
</section>