.about {
    background-image: url(../img/background/bg-about-mobile.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 62px;
}

.about-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.about-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

.about-container-text {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .about {
        background-image: url(../img/background/bg-about-tablet.png);
        background-position: right bottom;
        padding-bottom: 50px;
    }

    .about-title {
        font-size: 44px;
    }

    .about-text {
        font-size: 16px;
    }

    .about-container-text {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1110px) {
    .about {
        background-image: url(../img/background/bg-about-deskt.png);
        background-position: right bottom;
        padding-bottom: 80px;
    }
    
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-container-text {
        margin-right: 50px;
        margin-bottom: 0;
    }

    .about-text {
        width: 436px;
    }
}



