html,
body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  background-color: #1c2225;
  color: #fcf9f9;
  scroll-behavior: smooth;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1110px) {
  .container {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
