.footer {
    padding-top: 40px;
    padding-bottom: 80px;
    background-image: url(../img/background/bg-footer-mobile.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 649px;
}

.container {
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}



.footer-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    margin-bottom: 40px;   
}

.list {}

.footer-list-item {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    flex-basis: 50%;
}

.item {}

.footer-link {}

.link {}

.footer-slogan {
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
}

.footer-span-ukrainian {
    color: var(--white, #ECD979);
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
}


/* ===============ПЛАНШЕТ=============== */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 370px;
    background-image: url(../img/background/bg-footer-tablet.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-container {   

}

.footer-list {
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 0;
}

.list {}

.footer-list-item {
    flex-basis: auto;
}

.item {
}

.footer-link {}

.link {}

.footer-slogan {
    padding-top: 80px;
    max-width: 521px;
    font-size: 54px;
    line-height: 1.19;
}

.footer-span-ukrainian {
    font-size: 54px;
    line-height: 1.19;
}
}

/* ===============ДЕСКТОП=============== */

@media screen and (min-width: 1110px) {
    .container {
        max-width: 1110px;
}

.footer {
    height: 363px;
    background-image: url(../img/background/bg-collection-deskt.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-container {
}

.footer-list {
    
}

.list {}

.footer-list-item {
    
}

.item {}

.footer-link {}

.link {}

.footer-slogan {
    padding-top: 117px;
    max-width: 754px;
    font-size: 64px;
    line-height: 1.16;
}

.footer-span-ukrainian {
    font-size: 64px;
    line-height: 1.16;

}
}

