
.pre-order-img-container {
    margin: 0 auto;
    background-image: url(../img/background/bg-order-tablet.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
            
        
}

.order-mod {
    margin-top: 80px;
    margin-bottom: 80px;
}



.modal-order {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.modal-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   gap: 20px;

}

.modal-field {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    
    
}

.modal-comment {
    width: 100%;

}


.modal-textarea {
    width: 335px;
    height: 196px;
    border-radius: 8px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: transparent;
    display: flex;
    padding: 14px 16px;
    margin-left: auto;
    margin-right: auto;
    
}


.modal-title {
        color: var(--white, #ECD979);
        font-family: Manrope;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: -0.03em;
        width: 335px;
        margin: 0 auto;
}

.order-input {
    width: 100%;
    
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid rgba(252, 249, 249, 0.10);
    padding: 14px 16px;
    align-items: flex-start;

}

.order-form-btn {
        min-width: 145px;
        height: 49px;
        padding: 14px 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white, #FCF9F9);
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto;
        border-radius: 15px;
        border: 1px solid rgba(252, 249, 249, 0.10);
        background-color: transparent;
}

.order-form-btn:hover, 
.order-form-btn:focus {
    border: 1px solid var(--yellow, #ECD979);
 
}

.order-btn-icon {
    fill: var(--yellow, #ECD979);
}

.modal-title span {
    color: var(--white, #FCF9F9);
}

.order-girl-white {
    display: none;
}

@media screen and (min-width: 375px) {
    .pre-order-img-container {
        max-width: 375px;
        
    }
}

@media screen and (min-width: 768px) {
        .pre-order-img-container {
            max-width: 768px;
            
            
        }

    .order {
        height: 1340px;
    }
        

    
    .modal-order {
        width: 958px;
        margin-bottom: 100px;
                
    }
    .order-mod {
        margin-top: 100px;
        margin-bottom: 100px;
        }

    .order-girl-white {
        display: block;
    }

    .modal-title {
        width: 542px;
        color: var(--white, #ECD979);
        font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 1.32;
        letter-spacing: -0.03em;
        margin-left: 0;
    
    }

    .modal-form {
        justify-content: start;
        width: 508px;
        
        
    }
        .modal-field {
            width: 100%;
            max-width: 508px;
            margin-left: 0;

        }

    .modal-textarea {
        width: 100%;
    }

    .order-form-btn {
        min-width: 168px;
        height: 50px;
        padding: 14px 39px;
    }

    .order-girl-white {
        margin-right: 32px;
        margin-bottom: 100px;
    }

    .order-img {
        margin-left: auto;
    }


    
}
@media screen and (min-width: 1110px) {
        .pre-order-img-container {
                max-width: 1110px;
        
            }
    .pre-order-img {
        height: 776px;
        
    }

    @media (min-divice-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .pre-order-img {
        
        }
    }
}